---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include footer-scripts.html %}
    <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=8649237;
  var sc_invisible=1;
  var sc_security="939bebad";
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="shopify site
  analytics" href="http://statcounter.com/shopify/"
  target="_blank"><img class="statcounter"
  src="http://c.statcounter.com/8649237/0/939bebad/1/"
  alt="shopify site analytics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
